body{
  margin: 0;
  padding: 0;
  color: #e60012;
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  background-color: #fef7dd;
}

a{
  text-decoration: none;
  color: #e60012;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}


@mixin border{
  border: 1px solid #e60012;
}
@mixin borderpc{
  border: 2px solid #e60012;
}
@mixin bg($url){
  display: block;
  background: url($url) no-repeat;
  background-position: center;
  background-size: cover;
}



.top{
  position: absolute;
  z-index: 10;
  &-line_sp{
    width: 100%;
  }
  &-line{
    display: none;
  }
  &-navi{
    display: flex;
    justify-content: space-between;
    padding: 0px 12px 0 15px;
  }
  &-logo{
    width: 60%;
    margin-top: 9px;
  }
  &-list{
    display: none;
  }
  &-btn{
    background-color: #e60012;
    padding: 15px 10px 10px;
    border-radius: 50%;
    div{
      background-color: #fff;
      height: 0.5vw;
      width: 4vw;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top: -5px;
        height: 170%;
        width: 100%;
        background-color: #fff;
      }
      &::after{
        content: '';
        position: absolute;
        top: 4px;
        height: 170%;
        width: 100%;
        background-color: #fff;
      }
    }
  }
}
@media screen and(min-width: 750px){
  .top{
    max-width: 980px;
    left: 0;
    right: 0;
    margin: auto;
    &-line_sp{
      display: none;
    }
    &-line{
      display: block;
    }
    &-navi{
    padding: 5px 0px 0px;
    }
    &-logo{
      width: 100%;
    }
    ul{
      display: flex;
    }
    &-list{
      display: block;
      list-style: none;
    }
    &-btn{
      display: none;
    }
  }
}

.slider{
  img{
    width: 100%;
    height: auto;
  }
}
#slider_pc{
  display: none;
}
@media screen and(min-width: 750px){
  #slider{
    display: none;
  }
  #slider_pc{
    display: block;
    max-width: 1040px;
    margin: 0 auto;
  }
}



main{
  padding: 30px 18px;
  max-width: 980px;
  margin: 0 auto;
}

.products{
  @include bg('img/top_btn_01_sp.png');
  @include border;
  text-align: center;
  margin-bottom: 20px;
  h2{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 6px;
    letter-spacing: 4px;
    font-size: 20px;
  }
  h3{
    font-size: 15px;
    margin: 0;
    padding-bottom: 10px;
    letter-spacing: 2px;
  }
  p{
    font-size: 16px;
    margin: 0;
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 27px;
    padding-bottom: 22px;
  }
  img{
    display: none;
  }
}
@media screen and(min-width: 750px){
  .products{
    @include bg('img/top_btn_01.png');
    @include borderpc;
    position: relative;
    margin-bottom: 35px;
    h2{
      padding-top: 30px;
      font-size: 30px;
      letter-spacing: 5px;
      padding-bottom: 0px;
    }
    h3{
      font-size: 14px;
      padding-bottom: 30px;
    }
    p{
      font-size: 27px;
      line-height: 50px;
      padding-bottom: 30px;
    }
    .none{
      display: none;
    }
    &:hover{
      img{
      display: block;
      position: absolute;
      top: 50%;
      left: 1.5%;
      transform: translate(-50%, -50%);
      }
    }
  }
}


.lineup{
  @include bg('img/top_btn_02_sp.png');
  @include border;
  text-align: center;
  margin-bottom: 20px;
  h2{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 5px;
    letter-spacing: 4px;
    font-size: 20px;
  }
  p{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-bottom: 145px;
  }
  img{
    display: none;
  }
}
@media screen and(min-width: 750px){
  .lineup{
    @include bg('img/top_btn_02.png');
    @include borderpc;
    position: relative;
    margin-bottom: 45px;
    h2{
      padding-top: 30px;
      font-size: 30px;
      letter-spacing: 5px;
      padding-bottom: 0px;
      margin-bottom: 0;
    }
    p{
      font-size: 14px;
      padding-bottom: 280px;
    }
    &:hover{
      img{
      display: block;
      position: absolute;
      top: 50%;
      left: 1.5%;
      transform: translate(-50%, -50%);
      }
    }
  }
}


@media screen and(min-width: 750px){
  .flex1{
    display: flex;
  }
}
.recipe{
  @include bg('img/top_btn_03.png');
  @include border;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  height: 160px;
  &-txt{
  position: absolute;
  top: 47%;
  left: 27%;
  transform: translate(-50%, -50%);
  }
  h2{
    margin: 0;
    padding-bottom: 4px;
    letter-spacing: 2px;
    font-size: 20px;
  }
  p{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
  .arrow{
    display: none;
  }
  .tab{
    position: absolute;
    bottom: 8px;
    right: 5px;
    width: 15px;
  }
}
@media screen and(min-width: 750px){
  .recipe{
    position: relative;
    width: 49%;
    height: 210px;
    margin-right: 40px;
    margin-bottom: 45px;
    &-txt{
    left: 24%;
    }
    h2{
      font-size: 30px;
      letter-spacing: 5px;
      padding-bottom: 0px;
      margin-bottom: 0;
    }
    p{
      font-size: 14px;
    }
    &:hover{
      .arrow{
      display: block;
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translate(-50%, -50%);
      }
    }
    .tab{
      width: 17px;
    }
  }
}
.tvcm{
  @include bg('img/top_btn_04.png');
  @include border;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  height: 160px;
  &-txt{
  position: absolute;
  top: 47%;
  left: 35%;
  transform: translate(-50%, -50%);
  }
  h2{
    margin: 0;
    padding-bottom: 2px;
    letter-spacing: 2px;
    font-size: 20px;
  }
  p{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .arrow{
    display: none;
  }
}
@media screen and(min-width: 750px){
  .tvcm{
    position: relative;
    width: 49%;
    height: 210px;
    margin-bottom: 45px;
    h2{
      font-size: 30px;
      letter-spacing: 5px;
      padding-bottom: 0px;
      margin-bottom: 0;
    }
    p{
      font-size: 14px;
    }
    &:hover{
      .arrow{
      display: block;
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translate(-50%, -50%);
      }
    }
  }
}


@media screen and(min-width: 750px){
  .flex2{
    display: flex;
  }
}
.history{
  @include bg('img/top_btn_05.png');
  @include border;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  height: 160px;
  &-txt{
  position: absolute;
  top: 47%;
  left: 30%;
  transform: translate(-50%, -50%);
  }
  h2{
    margin: 0;
    padding-bottom: 2px;
    letter-spacing: 2px;
    font-size: 20px;
  }
  p{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
  .arrow{
    display: none;
  }
}
@media screen and(min-width: 750px){
  .history{
    position: relative;
    width: 49%;
    height: 210px;
    margin-right: 40px;
    margin-bottom: 45px;
    &-txt{
    left: 24%;
    }
    h2{
      font-size: 30px;
      letter-spacing: 5px;
      padding-bottom: 0px;
      margin-bottom: 0;
    }
    p{
      font-size: 14px;
    }
    &:hover{
      .arrow{
      display: block;
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translate(-50%, -50%);
      }
    }
  }
}
.tips{
  @include bg('img/top_btn_06.png');
  @include border;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  height: 160px;
  &-txt{
  position: absolute;
  top: 47%;
  left: 25%;
  transform: translate(-50%, -50%);
  }
  h2{
    margin: 0;
    padding-bottom: 2px;
    letter-spacing: 2px;
    font-size: 20px;
  }
  p{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .arrow{
    display: none;
  }
}
@media screen and(min-width: 750px){
  .tips{
    position: relative;
    width: 49%;
    height: 210px;
    margin-bottom: 45px;
    h2{
      font-size: 30px;
      letter-spacing: 5px;
      padding-bottom: 0px;
      margin-bottom: 0;
    }
    p{
      font-size: 14px;
    }
    &:hover{
      .arrow{
      display: block;
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translate(-50%, -50%);
      }
    }
  }
}


@media screen and(min-width: 750px){
  .flex3{
    display: flex;
  }
}
.day{
  @include bg('img/top_btn_09.png');
  @include border;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  height: 99.609px;
  &-txt{
  position: absolute;
  top: 47%;
  left: 30%;
  transform: translate(-50%, -50%);
  }
  h2{
    margin: 0;
    padding-bottom: 2px;
    letter-spacing: 1px;
    font-size: 19px;
  }
  p{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
  .arrow{
    display: none;
  }
}
@media screen and(min-width: 750px){
  .day{
    position: relative;
    width: 49%;
    height: 124px;
    margin-right: 40px;
    margin-bottom: 45px;
    h2{
      font-size: 24px;
      letter-spacing: 2px;
      padding-bottom: 0px;
      margin-bottom: 0;
    }
    p{
      font-size: 14px;
      position: absolute;
      left: 15px;
    }
    &:hover{
      .arrow{
      display: block;
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translate(-50%, -50%);
      }
    }
  }
}
.presen{
  @include bg('img/top_btn_07.png');
  @include border;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  height: 99.609px;
  &-txt{
  position: absolute;
  top: 47%;
  left: 42%;
  transform: translate(-50%, -50%);
  }
  h2{
    margin: 0;
    padding-bottom: 2px;
    letter-spacing: 1px;
    font-size: 18px;
    white-space: nowrap;
  }
  p{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
    text-align-last: left;
  }
  .arrow{
    display: none;
  }
}
@media screen and(min-width: 750px){
  .presen{
    position: relative;
    width: 49%;
    height: 124px;
    margin-bottom: 45px;
    &-txt{
      top: 48%;
      left: 42%;
    }
    h2{
      font-size: 24px;
      letter-spacing: 2px;
      padding-bottom: 0px;
      margin-bottom: 0;
    }
    p{
      font-size: 14px;
    }
    &:hover{
      .arrow{
      display: block;
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translate(-50%, -50%);
      }
    }
  }
}


@media screen and(min-width: 750px){
  .flex4{
    display: flex;
  }
}
.qa{
  @include bg('img/top_btn_08.png');
  @include border;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  height: 100px;
  &-txt{
  position: absolute;
  top: 55%;
  left: 27%;
  transform: translate(-50%, -50%);
  }
  h2{
    margin: 0;
    padding-bottom: 6px;
    letter-spacing: 4px;
    font-size: 19px;
  }
  p{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
  .arrow{
    display: none;
  }
  .tab{
    position: absolute;
    bottom: 8px;
    right: 5px;
    width: 15px;
  }
}
@media screen and(min-width: 750px){
  .qa{
    position: relative;
    width: 49%;
    height: 124px;
    margin-right: 40px;
    &-txt{
      top: 40%;
    }
    h2{
      font-size: 30px;
      letter-spacing: 5px;
      padding-bottom: 0px;
      margin-bottom: 0;
    }
    p{
      font-size: 14px;
      position: absolute;
      left: -15px;
      white-space: nowrap;
    }
    &:hover{
      .arrow{
      display: block;
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translate(-50%, -50%);
      }
    }
    .tab{
      width: 17px;
    }
  }
}
.funclub{
  @include bg('img/top_bnr_02.jpg');
  @include border;
  height: 90px;
  position: relative;
  .arrow{
    display: none;
  }
  .tab{
  position: absolute;
  bottom: 8px;
  right: 5px;
  width: 15px;
  }
}
@media screen and(min-width: 750px){
  .funclub{
    position: relative;
    width: 49%;
    height: 124px;
    &:hover{
      .arrow{
      display: block;
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translate(-50%, -50%);
      }
    }
    .tab{
      width: 17px;
    }
  }
}


.scroll{
  padding-top: 35px;
  text-align: center;
  img{
    width: 33px;
  }
}
@media screen and(min-width: 750px){
  .scroll-container{
    position: relative;
    // border: 1px solid #e60012;
    padding-bottom: 50px;
  }
  .scroll{
    position: absolute;
    bottom: -40px;
    right: -80px;
  }
}


footer{
  background-color: #fff;
  border-top: 5px solid #e60012;
  font-family: 'Roboto', sans-serif;
}
.footer-container{
  max-width: 1040px;
  margin: 0 auto;
  padding: 38px 28px 0;
}

.footer-menu{
  &--icon{
    display: none;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 27px;
  }
  .footer-txt{
    font-size: 13px;
    font-weight: normal;
    padding-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0;
  }
  .footer-txt_s{
    font-size: 14px;
  }
}
@media screen and(min-width: 750px){
  .footer-menu{
    display: flex;
    height: 140px;
    &--icon{
      display: block;
      margin-right: 50px;
      img{
        width: 160px;
      }
    }
    ul{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    a{
      margin-right: 55px;
    }
    li{
      font-size: 18px;
      margin-bottom: 20px;
      &::before{
        content: '';
        display: inline-block;
        background: url('img/items/on_arrow.png') no-repeat center;
        width: 11px;
        height: 11px;
        opacity: 0;
        padding-right: 15px;
      }
      &:hover::before{
        opacity: 1;
      }
    }
    .footer-txt{
      font-size: 11px;
    }
    .footer-txt_s{
      font-size: 12px;
    }
  }
}

.sns{
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  max-width: 1040px;
  margin: 0 auto;
  .fb, .tw{
    margin-right: 25px;
  }
}
@media screen and(min-width: 750px){
  .sns{
    justify-content: left;
    .fb, .tw{
      margin-right: 10px;
    }
  }
}


.footer-info{
  border-top: 1px solid #ddd;
  padding: 25px 20px 5px;
  &--container{
    max-width: 1040px;
    margin: 0 auto;
  }
    ul{
      list-style: none;
      padding-left: 0;
    }
    &--list{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    li{
      font-size: 12px;
      color: #333;
    }
    img{
      width: 80%;
    }
}
@media screen and(min-width: 750px){
  .footer-info{
    &--container{
      display: flex;
      justify-content: space-between;
    }
    &--list{
    }
    img{
      width: 50%;
    }
  }
}


.footer-red{
  background-color: #e60012;
  padding: 10px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  p{
    margin: 0;
  }
}
@media screen and(min-width: 750px){
  .footer-red{
    font-size: 12px;
  }
}
